.btn-cart {
  color: white;
  font-weight: 400;
  background-color: rgb(45, 45, 196);
  border-radius: 0.4rem;
  padding: 0.3rem;
  margin-bottom: 0.2rem;
  margin-top: 0;
}

.btn-cart:hover {
  font-weight: 800;
}

.container-all-cards {
  align-self: space-between;
  display: flex;
  flex-wrap: wrap;
  max-width: 80%;
  justify-content: center;
}

.container-card {
  align-items: center;
  align-self: center;
  box-shadow: 5px 10px gray;
  flex-wrap: wrap;
  justify-content: center;
  border: 1px solid black;
  border-radius: 1rem;
  display: flex;
  flex-direction: column;
  height: 27rem;
  margin: 0.8rem;
  width: 20rem;
  text-align: center;
}

.container-card h4 {
  margin-bottom: 0;
}

.container-card img {
  height: 30%;
  width: 40%;
  margin-left: 10%;
  margin-bottom: 0;
}

.container-card p {
  font-size: small;
  margin-bottom: 0;
}
