.btn {
    color: white;
    font-weight: 400;
    background-color: rgb(45, 45, 196);
    border-radius: 0.4rem;
    padding: 0.3rem;
    margin-top: 3rem;
    width: 10rem;
}

.btn:hover {
    font-weight: 800;
}

.container-checkout {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.container-checkout form {
    text-align: start;
    width: 20rem;
    height: 15rem;
}

input {
    width: 50%;
    margin-top: 1rem;
    margin-left: 0.5rem;
}