.cart-items-number {
  color: white;
}

.container-header {
  display: flex;
  justify-content: center;
  background-color: rgb(63, 63, 197);;
  color: white;
}

.container-header h1{
  margin-top: 2rem;
}

.shopping-cart-icon-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 1rem;
  border: 2px outset;
  border-radius: 1rem;
  padding: 0.25rem;
}

.shopping-cart-icon-container:hover {
  background-color: #fff;
}
